.text-center{
    padding: 10px;
}

.front-image{
    padding: 50px;
    width: 900px;
    height: auto;
}
p{
    padding: 15px;

}
.centuryFilter .artistFilter{
    margin: auto;
}
.container{
    margin-top: 20px;
}
#myCards{
    display: none;
}

@media screen and (max-width: 600px) {
    #apiButton {
        display: block;
    }
}
